{% load static %}
{% csrf_token %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}Meeting Picker{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="NA Meeting Picker">
    <meta name="author" content="Alec Zoeller">
    {% block css %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'modstyles.css' %}">   
    {% endblock %}

    {% block javascript %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    {% endblock %}
  </head>
  
  <body>
    {% block body %}
    <container style="padding-top:10px;">
        <div class="alert alert-info" role="alert" style="font-size:14pt;">
            <strong>Find a Meeting</strong>
            <button id="goback" style="display:none; right:6px;" type="button"
                class="btn btn-warning" style="max-width:600px;" onclick="goBack()">Go Back</button>
        </div>
        <div id="venues" class="div-container" style="display:grid;">
            <button style="margin:10px;max-width:600px;" type="button" onclick="sendVenue(this)" class="btn btn-lg btn-primary" id="online">ONLINE</button>
            <button style="margin:10px;max-width:600px;" type="button" onclick="sendVenue(this)" class="btn btn-lg btn-primary" id="in-person">IN PERSON</button>
        </div>
        <div id="regions" class="div-container" style="display:none;">
        </div>
        <div id="days" class="div-container" style="display:none;">
        </div>
        <div id="meetings" style="display:none;">
        </div>
        <div id="dummy" style="display:none;">
        </div>
        
    </container>
    {% endblock %}

  <script>
    //Define parameters to update/populate as we go
    let day;
    let venue;
    let region;
    const base_url = window.location.origin + "/meeting_picker";
    //Function to create buttons for each region
    function populateRegions(data, venue) {
        var regions = document.getElementById("regions");
        for (let i = 0; i < data.regions.length; i++) {
            let button = document.createElement("button");
            button.type = "button";
            button.setAttribute("onclick", "sendRegion(this, '" + venue + "')");
            button.setAttribute("class", "btn btn-lg btn-primary");
            button.setAttribute("style", "margin:10px;max-width:600px;");
            button.id = data.regions[i];
            button.innerHTML = data.regions[i];
            regions.appendChild(button);
        }
    }
    //Create buttons for available days, given chosen venue and region
    function populateDays(data, region) {
        var days = document.getElementById("days");
        for (let i = 0; i < data.days.length; i++) {
            let button = document.createElement("button");
            button.type = "button";
            button.setAttribute("onclick", "sendDay(this, '" + region + "')");
            button.setAttribute("class", "btn btn-lg btn-primary");
            button.setAttribute("style", "margin:10px;max-width:600px;");
            button.id = data.days[i];
            button.innerHTML = data.days[i];
            days.appendChild(button);
        }
    }
    // generate mobile version for each table
    function formatTable(table) {
        width = $(document).width();
        if (width > 1024) {
            return table;
        }
        document.getElementById("dummy").innerHTML = table;
        var table = document.getElementById("mtgs");
        var head = [];
        var rows = [];
        for (var i=0; i< table.tHead.children[0].cells.length; i++) {
            head.push(table.tHead.children[0].cells[i].textContent);
        }
        for (var i=0; i < table.rows.length; i++) {
            var this_row = [];
            for (var j=0; j < table.rows[i].cells.length; j++) {
                this_row.push(table.rows[i].cells[j].innerHTML);
            }
            rows.push(this_row);
        }
        // create new table
        var newtable = document.createElement("TABLE");
        newtable.setAttribute("class", "generated_for_mobile");
        newtable.createTBody();
        // cache tbody where we'll be adding data
        var newtable_tbody = newtable.tBodies[0];
        let cont;
        let new_content;
        for (var i=1; i<rows.length; i++) {
            var classname = i % 2 ? 'even' : 'odd';
            
            for (var j=0; j<rows[i].length; j++) { 
                
                if ((rows[i][j] != "") & (rows[i][j] != null) & (j != 5))   {  //Exclude blank cells and "duration" cells

                    var new_tr = newtable.tBodies[0].insertRow();    
                    var new_td = new_tr.insertCell();
                    if (j == 4) {  // Merge start time and duration values
                        cont = rows[i][j] + ", " + rows[i][j+1] + " hours";
                    }   else if (j == 1)    {  //Add label to meeting name
                        cont = "MEETING NAME: " + rows[i][j];
                    }   else {
                        cont = rows[i][j].replace('&lt;','<').replace('&gt;','>');
                    }
                    if ((j != 2) & (j != 3)) {
                        new_content = document.createTextNode(cont);
                    }   else { //Virtual meeting link information needs a non-text node in the DOM
                        new_content = document.createElement("div");
                        new_content.innerHTML = cont;
                    }
                    new_td.appendChild(new_content);
                    new_td.setAttribute("class", classname);
                    newtable_tbody.appendChild(new_tr);
                }
            }                  
        }
        document.getElementById("dummy").innerHTML = "";
        newtable.setAttribute("class", "table table-striped table-bordered table-hover");
        /*
        newtable.innerHTML = newtable.innerHTML.replace('<','&lt;').replace('>','&gt;')
        meetingBlock = document.getElementById("meetings");
        meetingBlock.appendChild(newtable);
        */
       var st_output = '<table class="table table-striped table-bordered table-hover">' + 
                        newtable.innerHTML.replace('&lt;','<').replace('&gt;','>')
                            .replace('<tbody>','').replace('</tbody>', '') +
                        '</table';
       return st_output;
    }
    //Function to send day to server
    /*
    RETRIEVES MEETINGS FROM SERVER
    */
    function sendDay(button, region) {
        var day = button.id;
        var venue = $("#venues").data("venue");
        $.ajax({
            url: base_url + "/" + venue + "/" + region + "/" + day + "/",
            type: "GET",
            data: {'csrfmiddlewaretoken':"{{ csrf_token }}"},
            success: function(data) {
                $("#days").css("display", "none");
                mtgs = document.getElementById("meetings");
                mtgs.innerHTML = formatTable(data.meetings);
                mtgs.setAttribute("style", "display:block;");                
            }
        });
    }
    //Function to start the process over
    function goBack()   {
        $.ajax({
            url: base_url + "/nan/nan/nan/",
            type: "GET",
            data: {'csrfmiddlewaretoken':"{{ csrf_token }}"},       
            success: function(data) {
                $("#days").css("display", "none");
                $("#venues").css("display", "grid");
                $("#regions").css("display", "none");
                $("#meetings").css("display", "none");
                $("#goback").css("display", "none");
                var days = document.getElementById("days");
                var regions = document.getElementById("regions");
                var daysArr = [];
                var regionsArr = [];
                //Remove the buttons that have been populated
                for (var i=0; i < days.children.length; i++) {
                    daysArr.push(days.children[i]);
                }
                for (var i=0; i < regions.children.length; i++) {
                    regionsArr.push(regions.children[i]);
                }
                for (var i=0; i < daysArr.length; i++) {
                    daysArr[i].remove();
                }
                for (var i=0; i < regionsArr.length; i++) {
                    regionsArr[i].remove();
                }
            }

        });
    }
    //Function to send venue to server
    function sendVenue(button) {
        var venue = button.id;
        $("#venues").data("venue", venue);
        $.ajax({
            url: base_url + "/" + venue + "/nan/nan/",
            type: "GET",
            data: {'csrfmiddlewaretoken':"{{ csrf_token }}"},
            success: function(data) {
                $("#venues").css("display", "none");
                populateRegions(data, venue);
                $("#regions").css("display", "grid");
                $("#goback").css("display", "inline");
            }
        });
    }
    //Function to send region to server
    function sendRegion(button, venue) {
        var region = button.id;
        $.ajax({
            url: base_url + "/" + venue + "/" + region + "/nan/",
            type: "GET",
            data: {'csrfmiddlewaretoken':"{{ csrf_token }}"},
            success: function(data) {
                $("#regions").css("display", "none");
                populateDays(data, region);
                $("#days").css("display", "grid");
            }
        });
    }

  </script>

  </body>
</html>